<!-- En tu archivo HTML -->
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Sucursales</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
</head>
<body>
    <ul>
        <li><a href="{% url 'agregarcliente' %}">Cliente</a></li>
        <li><a href="{% url 'agregarsucursales' %}">Sucursales</a></li>
        <li><a href="{% url 'producto_sucursales' %}">Producto</a></li>
      </ul>
    <h1>Agregar Sucursales</h1>
    <form method="post" >
        {% csrf_token %}
        <!-- Agrega aquí los campos del formulario -->
        <label for="pais">Pais:</label>
        <input type="text" name="pais" required><br>

        <label for="ciudad">Ciudad:</label>
        <input type="text" name="ciudad" required><br>

        <label for="direccion">Dirección:</label>
        <input name="direccion" required><br>

        <label for="descripcion">Descripción:</label>
        <input name="descripcion" required><br>

        <button type="submit">Guardar</button>
        <button type="submit" onclick="ver_sucursales()">Cancelar</button>

    </form>
    <script>
            
        function ver_sucursales() {
       window.location.href = '{% url "ver_sucursales" %}';
   }
   </script>
</body>
</html>
